:root {
  /* Text colors */
  --navi-blue: #2e2f42;
  --light-txt-color: #ffffff;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --background: #f4f4fd;
  --premium-color: #434455;
  --color-btn: #e7e9fc;
  --color-icon-gray: #8e8f99;
  --color-modal: #2e2f4266;
  --color-icon-green: #31d0aa;
  --modal-color: #fcfcfc;
}

/**
  |============================
  | RESET
  |============================
*/
h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
ul {
  margin: 0;
  padding-left: 0;
}

/**
  |============================
  | BASE STYLES
  |============================
*/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #ffffff;
}
/**
  |============================
  | CONTAINER
  |============================
*/
/* MOBILE version */
.container {
  min-width: 320px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid red;
  outline-offset: -2px;
}
/* TABLET version */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* DESKTOP version */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
/**
  |============================
  | HEADER
  |============================
*/
/* MOBILE version */
.header {
  background-color: var(--light-txt-color);
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-logo {
  margin-right: auto;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.accent-header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navi-blue);
}
/* TABLET version */
@media only screen and (max-width: 767px) {
  .page-header-container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .navigation-list {
    display: none;
  }
  .address-link {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .page-nav {
    display: flex;
    align-items: center;
  }
  .page-logo {
    margin-right: 120px;
  }
  .navigation {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .navigation-item {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navi-blue);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-item:hover,
  .navigation-item:focus {
    color: var(--ocean);
  }

  .navigation-item::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;

    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
  }
  .navigation-item.current {
    color: var(--ocean);
  }

  .navigation-item.current::after {
    background-color: var(--ocean);
  }
  .address-link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: var(--premium-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }

  .address-mail-phone {
    margin: 0;
    padding: 0;
    font-style: normal;
  }

  .list-address {
    display: block;
    margin-left: auto;
  }
}
@media only screen and (max-width: 1157px) {
  .mail {
    margin-bottom: 12px;
  }
  .phone {
    margin: 0;
    padding: 0;
  }
}
/* DESKTOP version */
@media only screen and (min-width: 1158px) {
  .page-nav {
    display: flex;
    align-items: center;
  }
  .page-logo {
    margin-right: 76px;
  }

  .list-address {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--premium-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/**
  |============================
  | HERO (SECTION 1)
  |============================
*/
/* MOBILE version */
.hero {
  background-color: var(--navi-blue);
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hiro/Dark-bg_MOB@1x.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
@media (min-device-pixel-rario: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hiro/Dark-bg_MOB@2x.jpg);
  }
}
@media only screen and (max-width: 767px) {
  .section-hero {
    text-transform: capitalize;
  }
}
.section-hero {
  margin-bottom: 72px;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--light-txt-color);
}
/* .section-hero {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
} */
.btn {
  display: block;
  min-width: 169px;
  min-height: 56px;
  border-radius: 4px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--light-txt-color);
  background-color: var(--iris);
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px;
}

/* TABLET version */
@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hiro/Dark-bg_TAB@1x.jpg);
  }
  .section-hero {
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hiro/Dark-bg_TAB@2x.jpg);
  }
}
/* DESKTOP version */
@media only screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hiro/people-office_DESK@1x.jpg);
  }
  .section-hero {
    margin-bottom: 48px;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1158px),
  (min-resolution: 192dpi) and (min-width: 1158px),
  (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hiro/people-office_DESK@2x.jpg);
  }
}
@media only screen and (min-width: 1158px) {
  .section-hero {
    margin-bottom: 48px;
  }
}
/**
  |============================
  | COMPANY ADVANTAGES (SECTION 2)
  |============================
*/
/* MOBILE version */
.advanteges {
  padding: 96px 0;
}
.advanteges-main-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.advanteges-list {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
}
.list-text {
  /* width: 264px; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--premium-color);
}
@media only screen and (max-width: 767px) {
  .advanteges-list {
    text-align: center;
  }
}
@media only screen and (max-width: 1157px) {
  .advanteges-icons-item {
    display: none;
  }
}

/* TABLET version */
@media only screen and (min-width: 768px) {
  .advanteges-item {
    width: 356px;
  }
}

/* DESKTOP version */
@media only screen and (min-width: 1158px) {
  .advanteges {
    padding: 120px 0;
  }
  .advantages-top {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navi-blue);
  }
  .advanteges-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .advanteges-list {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .advanteges-icons-item {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: var(--background);
    border-radius: 4px;
  }
  .advanteges-icons {
    fill: currentColor;
  }
}
/**
  |============================
  | WHAT ARE WE DOING (SECTION 3)
  |============================
*/
/* MOBILE and TABLET version */
@media only screen and (max-width: 1157px) {
  .what-are-we-doing {
    display: none;
  }
}

@media only screen and (min-width: 1158px) {
  .what-are-we-doing {
    padding-bottom: 120px;
  }
  .we-doing-list {
    display: flex;
    gap: 24px;
  }
  .header-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navi-blue);
    margin-bottom: 72px;
  }
  .we-doing-list-item {
    width: calc((100% - 48px) / 3);
  }
}

/**
  |============================
  | TEAM MEMBERS (SECTION 4)
  |============================
*/
/* MOBILE version */
.members-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}
.section-team {
  background-color: var(--background);
  padding-top: 96px;
  padding-bottom: 96px;
}

.our-team-list {
  background-color: var(--light-txt-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.section-team-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--navi-blue);
  margin-bottom: 72px;
}
.name-person {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navi-blue);
  margin-bottom: 8px;
}
.worker {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--premium-color);
  margin-bottom: 8px;
}

.container-team {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 0px 0px 4px 4px;
}

.cocial-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.cocial-list-item {
  width: 40px;
  height: 40px;
}
.cocial-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cocial-list-link:hover,
.cocial-list-link:focus {
  background-color: var(--ocean);
}
.cocial-list-icon {
  fill: var(--background);
}
/* TABLET version */
@media only screen and (min-width: 768px) {
  .members-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
}

/* DESKTOP version */
@media only screen and (min-width: 1158px) {
  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .our-team-list {
    width: calc((100% - 72px) / 4);
  }
  .members-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
}
/**
  |============================
  | CUSTOMERS (SECTION 5)
  |============================
*/
/* MOBILE version */
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-customers-header {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--navi-blue);
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
}
.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 88px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid var(--color-icon-gray);
  color: var(--color-icon-gray);
}

.customers-list-link:hover,
.customers-list-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}
.customers-list-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list-link .customers-list-icon:hover,
.customers-list-link .customers-list-icon:focus {
  fill: var(--ocean);
}

/* TABLET version */
@media only screen and (min-width: 768px) {
  .customers-list {
    gap: 72px 24px;
  }
}

/* DESKTOP version */
@media only screen and (min-width: 1158px) {
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .customers-list-link {
    width: 168px;
  }
}
/**
  |============================
  | FOOTER
  |============================
*/
/* MOBILE version */
.footer {
  display: block;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--navi-blue);
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 0;
}
.logo-container {
  display: block;
  margin-bottom: 16px;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.accent-footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background);
}
.footer-end {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background);
}
.footer-list-icon {
  align-items: baseline;
}

.footer-media {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-txt-color);
}
.footer-icon-container {
  display: flex;
  gap: 16px;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--color-icon-green);
}

.footer-icon {
  fill: var(--background);
}

.footer-email::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--light-txt-color);
}

.footer-email {
  margin-bottom: 16px;
  padding: 8px 16px;

  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--light-txt-color);
  background-color: transparent;
  outline: 2px solid transparent;
  outline-offset: -2px;
  color: var(--light-txt-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-email:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  min-width: 165px;
  height: 40px;
  border-radius: 4px;

  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  color: var(--light-txt-color);
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--ocean);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px;
}

@media only screen and (max-width: 767px) {
  .logo-container {
    text-align: center;
  }
  .footer-email {
    width: 100%;
    max-width: 398px;
  }
  .form {
    margin-left: auto;
    margin-right: auto;
  }

  .logo-paragraf {
    margin-right: auto;
    margin-left: auto;
  }
  .footer-media {
    text-align: center;
  }
  .footer-list-icon {
    margin-right: auto;
    margin-left: auto;
  }
}
.form-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* TABLET version */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
  .footer-container {
    max-width: 582px;
  }
}
@media only screen and (min-width: 768px) {
  .form-footer {
    display: flex;
    gap: 24px;
  }
  .footer-email {
    min-width: 264px;
  }
  .logo-paragraf {
    margin-right: 24px;
  }
}

/* DESKTOP version */
@media only screen and (min-width: 1158px) {
  .footer {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    display: flex;
    align-items: baseline;
  }
  .logo-paragraf {
    margin-right: 120px;
  }
  .logo-container {
    display: inline-block;
    margin-bottom: 16px;
  }
  .form-footer {
    display: flex;
    gap: 24px;
  }
  .footer-container {
    display: flex;
  }
  .footer-list-icon {
    margin-right: 80px;
  }
}

/**
  |============================
  | MODAL WINDOW 1
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-delay: 250ms;
}

.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  transform: translate(-50%, -50%);
  opacity: 1;
  max-height: 576px;
  border-radius: 4px;
  background-color: var(--modal-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14);
  transition: transform 250ms ease-in 100ms, opacity 250ms ease-in 100ms;
}
@media only screen and (max-width: 427px) {
  .modal {
    width: calc(100% - 30px);
    padding: 72px 16px 24px 16px;
  }
}

@media only screen and (min-width: 428px) and (max-width: 767px) {
  .modal {
    width: 392px;
    padding: 72px 16px 24px 16px;
  }
}
@media only screen and (max-width: 1157px) {
  .modal {
    overflow-y: auto;
    height: 90%;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
  opacity: 0;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-btn);
  fill: var(--navi-blue);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  border-color: var(--ocean);
  background-color: var(--ocean);
  fill: var(--light-txt-color);
}

.modal-text {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
}
.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color-icon-gray);
}
.modal-form {
  display: block;
}

.modal-form-field {
  display: block;
  position: relative;
  margin-bottom: 8px;
}
.modal-form-input {
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--color-icon-gray);
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border: transparent;
  outline-color: var(--iris);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--navi-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--iris);
}

.modal-form-message {
  padding: 8px 16px;
  margin-bottom: 16px;
  width: 100%;
  min-height: 120px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: 1px solid transparent;
  outline-offset: -1px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-message:focus {
  border: transparent;
  outline-color: var(--iris);
}
.modal-form-agreement {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.modal-form-agreement-box {
  appearance: none;
}
.modal-form-agreement-icon-unchecked {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input[type='checkbox']:checked + .modal-form-agreement-icon > .modal-form-agreement-icon-unchecked {
  opacity: 0;
}
.modal-form-agreement-icon-checked {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input[type='checkbox']:checked + .modal-form-agreement-icon > .modal-form-agreement-icon-checked {
  opacity: 1;
}

.modal-form-agreement-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-left: 8px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--color-icon-gray);
}
.modal-form-agreement-link {
  color: var(--iris);
}

.modal-btn-submit {
  display: block;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  color: var(--light-txt-color);
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-submit:hover,
.modal-btn-submit:focus {
  background-color: var(--ocean);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px;
}
/* для чекбоксу */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-form-agreement-box:focus ~ .modal-form-agreement-icon {
  outline: 2px solid var(--ocean);
  outline-offset: -1px;
  border-radius: 2px;
}
/* MODAL WINDOW 2 (Mobile version) */
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-toggle-icon {
  stroke: var(--navi-blue);
}
.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 80px 35px 40px;
  background-color: var(--light-txt-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}

.menu-contacts {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
  text-align: left;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--premium-color);
  display: block;
}

.menu-contacts.active {
  color: var(--ocean);
}

.contacts-menu {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
  text-align: left;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--iris);
}
.contacts-menu:focus,
.contacts-menu:hover {
  color: var(--ocean);
}

@media only screen and (max-width: 427px) {
  .contacts-menu {
    font-size: 24px;
  }
  .social-media-link {
    display: flex;
    gap: 30px;
    justify-content: left;
  }
}
.mobile-contacts {
  margin-bottom: 48px;
}
.tel-modal-menu {
  margin-bottom: 40px;
}
.contacts-menu-mail {
  font-size: 20px;
  text-align: left;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--premium-color);
}
.contacts-menu-mail:focus,
.contacts-menu-mail:hover {
  color: var(--ocean);
}
@media only screen and (min-width: 428px) {
  .social-media-link {
    display: flex;
    gap: 56px;
    justify-content: left;
  }
}

.menu-close-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-txt-color);
  fill: var(--navi-blue);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close-modal:hover,
.menu-close-modal:focus {
  background-color: var(--ocean);
  fill: var(--light-txt-color);
}

/**
  |============================
  | PORTFOLIO
  |============================
*/
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
/* FILTER BUTTONS */
.filter-all-main {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-btn {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #e7e9fc;
  cursor: pointer;
}
.filter-all {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--background);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-all:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-all:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Portfolio 9 items */
.portfolio-alink {
  display: block;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-alink:hover,
.portfolio-alink:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: justify;
  color: var(--background);
  background-color: var(--iris);
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 164px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list-img-wrapper {
  position: relative;
  overflow: hidden;
}
.developments-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list {
  list-style: none;
  width: calc((100% - 48px) / 3);
}
.portfolio-alink:hover .overlay {
  transform: translate(0, 0);
}
.portfolio-alink:focus .overlay {
  transform: translate(0, 0);
}

.digital {
  padding: 32px 16px;
  border: 1px solid var(--color-btn);
  border-top: none;
}
.text-portfolio {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
  margin-bottom: 8px;
}
.text-main-work {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--premium-color);
}
